{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"run_tests.cljk" ".clj"
  "src/kabuto/cells/pregel.cljk" ".clj"
  "src/kabuto/methods/analyze.cljk" ".cljc"
  "src/kabuto/methods/autorun.cljk" ".cljc"
  "src/kabuto/methods/bpmn.cljk" ".cljc"
  "src/kabuto/methods/ingest.cljk" ".cljc"
  "src/kabuto/methods/kabuto_edn.cljk" ".cljc"
  "src/kabuto/methods/kotoba.cljk" ".cljc"
  "src/kabuto/methods/mesh.cljk" ".clj"
  "src/kabuto/methods/social.cljk" ".cljc"
  "src/kabuto/methods/test_analyze.cljk" ".cljc"
  "src/kabuto/methods/test_autorun.cljk" ".cljc"
  "src/kabuto/methods/test_bpmn.cljk" ".clj"
  "src/kabuto/methods/test_charter_gates.cljk" ".cljc"
  "src/kabuto/methods/test_ingest.cljk" ".clj"
  "src/kabuto/methods/test_kotoba_cid.cljk" ".clj"
  "src/kabuto/methods/test_pipeline_cid.cljk" ".clj"
  "src/kabuto/methods/test_social.cljk" ".cljc"
  "src/kabuto/methods/test_transact_headers.cljk" ".cljc"
  "src/kabuto/methods/transact.cljk" ".cljc"
  "src/kabuto/murakumo.cljk" ".cljc"
  "src/kabuto/viz/build_bpmn_manifest.cljk" ".cljc"
  "src/kabuto/viz/build_viz_data.cljk" ".cljc"
  "test/kabuto/murakumo_test.cljk" ".cljc"
  "test/kabuto/repository_contract_test.cljk" ".clj"
  "test/kabuto/viz/test_build_bpmn_manifest.cljk" ".cljc"
  "test/kabuto/viz/test_build_viz_data.cljk" ".cljc"}}
